
<div<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <!--<a href="#">Home</a> -->
        </li>
        <!--<li class="active">Login</li> -->
    </ul>
</div>
<div class="page-content">
	<div class="login-card"><img src="assets/img/avatar.jpg" class="profile-img-card">
		<p class="profile-name-card"> </p>
		<form class="form-signin"><span class="reauth-email"> </span>
			<input class="form-control" type="text" required="" placeholder="Correo" autofocus="" id="inputEmail" ng-model="loginInfo.username" />
			<input class="form-control" type="password" required="" placeholder="Clave" id="inputPassword" ng-model="loginInfo.password" />
			<div class="checkbox">
				<label><input type="checkbox">Recuerdame</label>
			</div>
			<button class="btn btn-primary btn-block btn-lg btn-signin" type="submit" ng-click="loginUser()" data-ng-disabled="loginForm.$invalid">Ingresar</button>
		</form><a href="#/reg" class="new-account">Registrate Aqui</a>
	</div>
</div><!-- /.page-content -->


















